.profile__edit-button {
    grid-area: 1 / 2 / 2 / 3;
    background-color: black;
    align-self: center;
    border: none;
    outline: none;
    padding: 0;
    margin: 5px 0  0 0px;
}

@media screen and (max-width: 1055px) {
    .profile__edit-button {
        margin: 1px 0 0 10px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}