.profile__add-button {
    justify-self: flex-end;
    content: url(../../../images/Add_Button.svg);
}

@media screen and (max-width: 1055px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin-top: 33px;
        content: url(../../../images/Add_Button320.svg);
    }
}
.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}