.popup__container_photo {
    border: none;
    width: auto;
    background: transparent;        
    left: auto;
    top: 15%;
  }
  
  @media screen and (max-width: 1050px) {
    .popup__container_photo {
      top: 13.5%;
      max-width: 320px;      
    }
  }