.edit-form__close-icon {
    width: 32px;
    height: 32px;
/*    justify-self: flex-end;*/
    position:relative;
    left: 100%;
    margin-bottom: 8px;
}

@media screen and (max-width: 320px) {
    .edit-form__close-icon {        
        margin-right: 0;
        left: 89%
    }
} 