.edit-form__container {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  /*width: 100%;*/
  width: 430px;
  /*height: 330px;*/
  background-color: white;
  border-radius: 10px;  
}

@media screen and (max-width: 320px) {
    .edit-form__container {
        width: 100%;       
        margin: 0;
    }
} 