.profile__info-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-size-adjust: 100%;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 320px) {
    .profile__info-title {
        font-size: 27px;
        line-height: 33px;
        margin: 26px 0 0 21px;
        letter-spacing: 0.3px;
    }
}
 